# Firebase 설정
REACT_APP_FIREBASE_API_KEY=your_api_key_here
REACT_APP_FIREBASE_AUTH_DOMAIN=your_project_id.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=your_project_id
REACT_APP_FIREBASE_STORAGE_BUCKET=your_project_id.appspot.com
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=your_sender_id
REACT_APP_FIREBASE_APP_ID=your_app_id

# OpenAI API (기존)
REACT_APP_OPENAI_API_KEY=sk-proj-[DEeFmKA1HYgQiefGpHc3y5_xx7oQVirWRWCeE_yQzckiSK2KyRvTkZzh2sird0IkLIYKq6mM_WT3BlbkFJFZuhXqx5DsOQBYJ83JmrQ1XmeuxUxKLS7zR_Ajhy4e1hdQDh30hFcJ8ePxtEHMjx7RUDvISq4A

